<div id="out-card" class="card border-dark mb-3">
        <div class="card-header">Developer Information</div>
            <div class="card-body">
                <div id="inside-card" class="card border-secondary mb-3">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <img src="images/yo.jpg" class="card-img" alt="Photo">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Sofia Alejandra Quintana Gutierrez</h5>
                              <p class="card-text">201731874</p>
                              <p class="card-text">21 years old</p>
                              <p class="card-text">Guatemalan</p>
                              <p class="card-text">Contact: 30004984</p>
                              <p class="card-text"><small class="text-muted">I was born to be a developer</small></p>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
        </div>
</div>