<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="UTF-8">
        <% include html/stylesheets.html%>
        <title>Home</title>
    </head>
    <body background="images/background.jpg">
        <% include html/scripts.html%>
        <% include html/header.html%>
        <% include html/developer-information.html%>

    </body>
</html>
